[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="prelogin-digid">
    <div class="block">
        <div class="block-header">
            <div class="block-header-inner">
        [% IF logged_out %]
            <h1>U bent uitgelogd.</h1>
        [% ELSE %]
            <h1>Inloggen met DigiD</h1>
        [% END %]
            </div>
        </div>

        <div class="block-content clearfix">
            

            <div class="row">
                <div class="column large-6">
                    <div class="digid-button prelogin">
                    [% IF digid_error %]
                        <strong>[% digid_error %]</strong><br /><br />
                    [% END %]
                    
                    [% IF c.user_exists %]
                        <p>U bent al ingelogd</p>
                    [% ELSE %]
                        [% IF logged_out %]
                        <p>
                            Klik op onderstaande knop om naar de website van
                            [% c.get_customer_info.naam_lang %] te gaan.
                        </p>
                        <br/>
                        <div>
                            <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]" class="button button-primary">
                                Hoofdpagina
                            </a>
                        </div>
                        
                        [% ELSE %]
                        
                        <p>
                            Voor het door u gekozen onderdeel is verificatie
                            van uw identiteit vereist. Bij
                            [% c.get_customer_info.naam_lang %] kunt u
                            inloggen met DigiD. Voortaan kunt u met DigiD
                            naar steeds meer overheidsinstellingen op
                            internet. Wanneer u op de button van DigiD
                            klikt, wordt u doorgestuurd naar de omgeving van
                            DigiD. Nadat u bent ingelogd, wordt u
                            automatisch teruggestuurd naar het door u
                            gekozen onderdeel.
                        </p><br/>

                        [% FOREACH idp IN idps %]
                        <form action="[% c.uri_for('/auth/saml/' _ idp.id) %]" method="POST">
                            <div class="prelogin-button">
                                <input type="hidden" name="success_endpoint" value="[% success_endpoint | html_entity %]" />

                                <button type="submit" value="Inloggen met [% idp.name | html_entity %]" class="id-knop id-knop-groot">
                                    <span class="a">Inloggen met [% idp.name | html_entity %]</span>
                                </button>
                            </div>
                        </form>
                        [% END %]
                        </div>

                        [% IF saml_error %]
                            [% PROCESS saml_error_message_block %]
                        [% END %]
                    </div>

                    <div class="column large-5 large-offset-1">
                        <div class="digid-info prelogin-info clearfix">
                            <div class="prelogin-logos col">
                                <img src="/images/digid_eo_rgb_50.gif" alt="DigiD Logo" class="digid-logo prelogin-info-logo" />
                            </div>
                            
                            <div class="digid-tekst prelogin-info-tekst col">
                		        <h3>Wat is DigiD?</h3>
                
                                <p>
                                    DigiD staat voor Digitale Identiteit; het is
                                    een gemeenschappelijk systeem waarmee de
                                    overheid op internet uw identiteit kan
                                    verifi&euml;ren. Met uw DigiD kunt u bij
                                    steeds meer overheidsinstellingen terecht.
                                </p>

                                <h3>Nog geen DigiD inlogcode?</h3>

                                <p class="no_margin">
                                    Ga naar <a href="http://www.digid.nl" target="_blank">
                                    http://www.digid.nl</a> om direct
                                    een DigiD inlogcode aan te vragen.
                                </p>
                            </div>
                            
                            [% END %]
                    [% END %]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

[% BLOCK saml_error_message_block %]
    <div class="saml_error">

    [% SWITCH saml_error %]
        [% CASE 'cancelled' %]
        <span>U heeft het inloggen bij DigiD geannuleerd.</span>
        [% CASE %]
        <span>
            Er is een fout opgetreden in de communicatie met
            <a href="https://www.digid.nl/">DigiD</a>. Probeert u het later
            nogmaals. Indien deze fout blijft aanhouden, kijk dan op de 
            website van <a href="https://www.digid.nl/">DigiD</a> voor de
            laatste informatie.
        </span>
    [% END %]

    </div>
[% END %]    

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
