.create-case-prefilled{
	padding:.5em 1.5em;
	color:#fff;
	background: #444;
}

.create-case-remember-casetype {
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	z-index: 1;
	margin-bottom:10px;
}

.create-case-remember-casetype-switch{
	margin-right:10px;
}
