<zs-role-picker
	data-unit="$ctrl.right.position.unit"
	data-role="$ctrl.right.position.role"
	on-change="$ctrl.handleRoleChange($unit, $role)"
>
</zs-role-picker>

<ul class="capabilities-list">
	<li ng-repeat="capability in $ctrl.getCapabilities() track by capability.name">
		<label>
			<input type="checkbox" ng-checked="capability.selected" ng-click="$ctrl.handleCapabilityClick(capability.name)"/>
			{{::capability.label}}
		</label>
	</li>
</ul>
