<form ng-submit="vm.handleSubmit()">

	<vorm-fieldset
		data-fields="vm.fields()"
		data-values="vm.getValues()"
		data-compiler="vm.compiler()"
		on-change="vm.handleChange($name, $value)"
	>
	</vorm-fieldset>

	<div class="form-actions">

		<button
			class="btn btn-flat"
			type="{{::action.type || 'button'}}"
			ng-click="vm.handleActionClick(action, $event)"
			ng-repeat="action in vm.actions()"
			ng-disabled="!vm.isButtonDisabled()"
			ng-class="action.classes"
		>
			{{action.label}}
		</button>

	</div>

</form>

