<ul class="spot-enlighter-menu" data-ng-show="entries.length">
	<li data-ng-repeat="entry in entries">
		<div class="spot-enlighter-entry-title">
			<[entry.object.handelsnaam]>
		</div>
		<small class="spot-enlighter-entry-desc">
			<span><[entry.object.vestiging_postcodewoonplaats]></span>
		</small>
	</li>
</ul>