@import '../../../../shared/styles/_breakpoints.scss';
@import '../../../../shared/styles/_variables.scss';

external-document-view{
	display: block;
	width: 100%;
	padding: 35px 20px;

	.ui-action {
		margin: 0 0 1em 0;
		border: none;
		padding: 0;
		background: inherit;
		font-size: 1.6rem;
	}

	.external-document__container{
		padding-bottom: 50px;
		display: flex;
	}

	.external-document__column{
		margin-left: 15px;
		margin-right: 15px;

		&.external-document__column--one{
			width: 500px;
			min-width: 350px;
		}

		&.external-document__column--two{
			max-width:650px;
			height: 100%;
		}
	}

	.external-document__widget{
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
		background: #fff;
		overflow: hidden;
		padding: 30px;
		width: 100%;

		&.external-document__widget--thumb{
			padding: 0;

			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&.external-document__widget--related{
			margin-top: 30px;

			h2{
				font-size: 1.3rem;
				margin: 0;
				padding: 0;
				color: $darker-grey
			}

			.current-document {
				color: lighten(#999, 10%);
			}
		}
	}

	.external-document__fields{
		li{
			padding: 20px 0;
			border-bottom: solid 1px #EDEDED;
		}

		.external-document__label{
			display: block;
		}

		.external-document__value{
			display: block;
			white-space: pre-line;
		}
	}

	.external-document__nothumb{
		flex: 1;
		text-align: center;
		color: #ccc;
		padding: 100px 30px;
		min-height: 350px;

		zs-icon{
			display: block;
			font-size: 4em;
		}
	}

	.external-document__header{
		display: flex;

		h1{
			margin: 0;
			padding: 0;
			line-height: 1.3em;
		}

		button{
			margin-left: auto;
		}
	}


	@media #{$small-and-down}{

		.external-document__header{
			flex-direction: column;
			justify-content: flex-start;

			h1{
				margin-bottom: 20px;
			}

			button{
				margin-left: 0;
			}
		}

		.external-document__container{
			display: block;
		}

		.external-document__column {
			&.external-document__column--one,
			&.external-document__column--two{
				display: block;
				width: 100%;
				max-width: initial;
				margin-left: 0;
				margin-right: 0;
			}

			&.external-document__column--one{
				margin-bottom: 25px;
			}
		}

	}

}
